spring:
  application:
    name: question-service
  cloud:
    config:
      enabled: false
  data:
    mongodb:
      host: localhost
      port: 27017
      database: question-service-db
      auto-index-creation: true

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true